body {
    background-color: #13060E; 
    color: #D8EAF8;  
    font-family: Arial, sans-serif;
    overflow: hidden;
    
}

h1 {
    color: #13060E; 
    text-align: center;
    font-weight: 600;
    background: linear-gradient(to top, #13060E, #DF4074);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    color:#D8EAF8
}

.item-remove{
    color: #13060E;
    background-color: #DF4074;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.item-add {
    color: #13060E;
    background-color: #60FBB3;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;

}

.custom-cont {
    box-shadow: 0px -5px 25px 10px #DF4074;

}

.image-behind {
    margin-top: -80px;
    z-index: -1;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 50%;
    height: auto;
    
}

.add-btn {
    background-color: #60FBB3;
    color: #13060E;
}

.add-btn:hover {
    background-color: #41ca8a;
    color: #13060E;
}

.rmv-btn {
    background-color: #DF4074;
    color: #13060E;
}

.rmv-btn:hover {
    background-color: #a0234d;
    color: #13060E;
}